:root {
  --primary-color: rgb(151, 43, 43);
  --secondary-color: #CCC;
}

a {
  color: #fc9494;
}

a:hover {
  color: #eb3535;
}

button {
  padding: 10px;
  background-color: rgb(72, 129, 194);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: rgb(207, 87, 87);
}

h1, h2, h3, h4 {
  margin-bottom: 0;
}
