<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>WOD5E for FoundryVTT</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="A dedicated site to document the features of the WOD5E system for FoundryVTT.">
        <meta content="A dedicated site to document the features of the WOD5E system for FoundryVTT." property="og:description" />
        <meta content="WOD5E for FoundryVTT" property="og:title" />
        <meta content="https://wod5e-developers.github.io/" property="og:url" />
        <meta content="https://wod5e-developers.github.io/icon.webp" property="og:image" />
        <meta content="#221C35" data-react-helmet="true" name="theme-color" />
        <link rel="icon" href="/icon.ico"/>
        <link rel="preload" as="image" href="/icon.webp"/>
    </head>
    <noscript>
        <strong>Unfortunately, this website doesn't work without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <body>
        <div id="app"></div>
    </body>
</html>
